/********* Theme colors *********/

.theme-dark {
    /* Calculator colors */
    --primary-color: hsl(222, 26%, 31%);
    --secondary-color: hsl(223, 31%, 20%);
    --tertiary-color: hsl(224, 36%, 15%);

    /* Key colors */
    --actionkey-bg: hsl(225, 21%, 49%);
    --actionkey-shadow: hsl(224, 28%, 35%);

    --result-bg: hsl(6, 63%, 50%);
    --result-shadow: hsl(6, 70%, 34%);

    --key-bg: hsl(30, 25%, 89%);
    --key-shadow: hsl(28, 16%, 65%);

    /* Font colors */
    --primary-font: hsl(221, 14%, 31%);
    --secondary-font: hsl(0, 0%, 100%);
}
.theme-light {
    /* Calculator colors */
    --primary-color: hsl(0, 0%, 90%);
    --secondary-color: hsl(0, 5%, 81%);
    --tertiary-color: hsl(0, 0%, 93%);

    /* Key colors */
    --actionkey-bg: hsl(185, 42%, 37%);
    --actionkey-shadow: hsl(185, 58%, 25%);

    --result-bg: hsl(25, 98%, 40%);
    --result-shadow: hsl(25, 99%, 27%);

    --key-bg: hsl(45, 7%, 89%);
    --key-shadow: hsl(35, 11%, 61%);

    /* Font colors */
    --primary-font: hsl(60, 10%, 19%);
    --secondary-font: hsl(0, 0%, 100%);
}

/********* Actual CSS *********/

* {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', Arial, Helvetica, sans-serif;
    /* background-color: rgba(255, 0, 0, 0.1); */
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
    transition: .4s ease-in-out;
}
.container {
    width: 300px;
    height: 80%;
    position: relative;
    background-color: transparent;
    /* border: 1px solid black; */
}
.header {
    display: flex;
    flex-wrap: nowrap;
}
.heading {
    position: absolute;
    top: 5px;
    left: 0px;
    font-size: 1rem;
    color: var(--secondary-font);
}
.theme-light .heading,
.theme-light .theme,
.theme-light li,
.theme-light .output {
    color: var(--primary-font);
}
.theme {
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: .4rem;
    text-transform: uppercase;
    color: var(--secondary-font);
}
ul {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    top: 1px;
    right: -5px;
}
li {
    float: left;
    font-size: .5rem;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--secondary-font);
}
label {
    position: absolute;
    top: 7px;
    right: 0px;
}
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: var(--result-bg);
    transition: .4s ease-in-out;
}
input[type="checkbox"]:not(:checked) {
    margin-right: 28px;
}
input[type="checkbox"]:checked {
    margin-right: 4px;
}
span {
    position: absolute;
    top: 4.5px;
    right: 0px;
    width: 40px;
    height: 12px;
    background-color: var(--secondary-color);
    z-index: -1;
    border-radius: 50px;
}
.screen {
    position: relative;
    display: grid;
    z-index: -1;
    top: 35px;
    width: 100%;
    height: 75px;
    background-color: var(--tertiary-color);
    border: none;
    outline: none;
    border-radius: 5px;
}
.output {
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
    color: var(--secondary-font);
}
.keypad {
    position: absolute;
    top: 125px;
    width: 100%;
    height: 250px;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 5px;
}
table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    padding: .75rem;
}
.row {
    display: table-row;
    /* outline: 1px solid black; */
}
.cell {
    display: table-cell;
}
.cell button {
    width: 45px;
    height: 27.5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 0 var(--key-shadow);
    background-color: var(--key-bg);
    font-size: 1rem;
    color: var(--primary-font);
}
.r1 .c4 button, .r5 .c1 button {
    background-color: var(--actionkey-bg);
    box-shadow: 0 2px 0 var(--actionkey-shadow);
    font-size: .6rem;
    text-transform: uppercase;
    color: var(--secondary-font);
}
.r5 .c1 button {
    width: 114px;
    margin-left: 10px;
}
.r5 .c2 button {
    width: 114px;
    margin-left: 79px;
    color: var(--secondary-font);
    background-color: var(--result-bg);
    box-shadow: 0 2px 0 var(--result-shadow);
}
.cell > button:active {
    transform: translateY(2px);
    box-shadow: none;
}
/* .r5 .c1 button:active {
    transform: translateY(2px);
    box-shadow: none;
} */